# 파이썬의 기본 문법

## 변수

In [1]:
# 두 수의 합 구하기
a = 20
b = 30
c = a + b
print(c)

50

In [2]:
# 사각형 면적구하기(Camel-Java스타일)
rectWidth = 10
rectHeight = 5
rectArea = rectWidth * rectHeight
print(rectArea)

50

In [3]:
# 사각형 면적구하기(Snake-Python스타일)
rect_width = 10
rect_height = 5
rect_area = rect_width * rect_height
print(rect_area)

50

In [4]:
# 정수형, 실수형
x = 30
print(30)
print(type(x))

y = 3.3287
z = 15 / 3
print(y, z)
print(type(y), type(z))

30
<class 'int'>
3.3287 5.0
<class 'float'> <class 'float'>

In [6]:
# 문자열
a = '72'           # int형이 아닌 str형으로 인식
b = 'I am ok.'
c = "안녕하세요!"
d = "I'm ok." 

print(a)
print(b)
print(c)
print(d)
print(type(a), type(b), type(c), type(d))

72
I am ok.
안녕하세요!
I'm ok.
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [8]:
# 문자열의 인덱스(공백도 하나의 인덱스로 취급!!)(인덱스는 0번부터 시작)
x = 'I am Happy!'

print(x)          # 문자열 전체 출력
print(x[0])       # 문자열의 첫번째 인덱스 출력
print(x[0:3])     # 0번 인덱스 ~ 3번 인덱스 앞까지 출력
print(x[:4])      # 0번 인덱스 ~ 4번 인덱스 앞까지 출력
print(x[5:])      # 5번 인덱스 ~ 마지막 인덱스까지 출력
print(x[-1])      # 마지막 인덱스 출력
print(x[-3:])     # 끝에서 3번째 인덱스 ~ 마지막 인덱스까지 출력
print(x[-4:-2])   # 끝에서 4번째 인덱스 ~ 끝에서 2번째 앞 인덱스까지 출력

I am Happy!
I
I a
I am
Happy!
!
py!
pp

In [9]:
# Boolean
t = True
f = False
print(t, f)

True False

In [10]:
condition = 10 > 20
condition

False

In [11]:
type(condition)

bool

## 산술 연산자

In [12]:
#  사칙연산
a = 10
b = 20
c = a + b * 10 - 5 / 5
print(c)

209.0

In [3]:
# 몫과 나머지(몫과 나머지는 'int' type)
x = 10 % 3
y = 10 // 3
print(x, y)
print(type(x), type(y))

1 3
<class 'int'> <class 'int'>

In [4]:
# 거듭제곱 연산자
x = 2 ** 3
y = 10 ** 4
z = 10 ** -2
print(x, y)
print(z)

8 10000
0.01

## 할당 연산자

In [5]:
x = 10
x += 20    # x = x + 20 = 10 + 20
print(x)

30

In [6]:
x = 3
y = 5
x *= x + y    # x = x * (x + y) = 3 * (3 + 5)
print(x)

24

## 숫자 연산자

In [1]:
x = 20
y = 4
x = y % x
print(x)

y -= x * 2
print(x, y)

4
4 -4

## 문자열

In [9]:
# 문자열 반복
hello = '안녕' * 5
print(hello)

안녕안녕안녕안녕안녕

In [15]:
# 문자열 길이
len(hello)

10

In [16]:
len('나는 Python을 좋아합니다.')

17

In [17]:
# 문자열 연결
name = '김영일'
greet = '님 안녕하세요!'
print(name + greet)

김영일님 안녕하세요!

In [29]:
# 문자열 연결시 주의사항(서로 다른 타입 연결 불가!)
eng = 80
result = '영어점수 : '+eng+'점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [23]:
eng = 80
result = '영어점수 : '+str(eng)+'점'    # eng를 str타입으로 변환
print(result)

영어점수 : 80점

In [26]:
# 문자열 포맷팅
eng = 90
result = '영어 점수 : %d점' % eng
print(result)

영어 점수 : 90점

In [28]:
name = '김영일'
result = '제 이름은 %s입니다' % name
print(result)

제 이름은 김영일입니다

In [31]:
year = 2020
month = 8
day = 27

date = '%d-%02d-%02d' % (year, month, day)
print(date)

2020-08-27

In [32]:
height = 172.5
a = '키는 %.2f입니다.' % height
print(a)

키는 172.50입니다.

In [34]:
# format() 활용
name = '김영일'
age = 27
eyesight = 1.0

a = '이름 : {}'.format(name)
b = '나이 : {}'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 김영일
나이 : 27
시력 : 1.0

### 문자열 메소드

In [42]:
# count() : 특정 문자열이 몇 개 있는지 확인
hello.count('안')    # hello = '안녕안녕안녕안녕안녕'

5

In [43]:
# find() : 특정 문자열의 인덱스 번호를 출력
a.find('름')    # 문자열 a는 '이름 : 김영일' ('름' 의 인덱스번호는 1 !!)

1

In [44]:
a.find('나')    # 문자열 a에서 '나' 는 없다! 없으면 결과값은 -1

-1

In [50]:
# upper() : 문자열 대문자 변환 / lower() : 문자열 소문자 변환
str = 'Welcome to Python World'
str1 = str.upper()
str2 = str.lower()

print(str1)
print(str2)

WELCOME TO PYTHON WORLD
welcome to python world

In [52]:
# replace() : 문자열 내부의 특정 문자열 바꾸기
'Hello'.replace('e', 'a')

'Hallo'

In [55]:
# split() : 문자열 분리하기 (list형태로 출력!!)
names = '김,이,박,최,정'
first_names = names.split(',')
print(first_names)

['김', '이', '박', '최', '정']

In [54]:
names = '김\t이\t박\t최\t정'
first_names = names.split('\t')
print(first_names)

['김', '이', '박', '최', '정']

In [61]:
# isspace() : 문자열이 공백으로만 이뤄져있으면 True, 아니면 False
str_a = 'Welcome to Python World'
space = str_a.isspace()
print(space)

str_b = '     '
space = str_b.isspace()
print(space)

False
True

## 실행결과 출력

In [62]:
# 콤마
print(name, age, eyesight)

김영일 27 1.0

In [65]:
# sep을 이용한 출력(sep = '구분기호')
print(year, month, day)
print(year, month, day, sep = '/')
print(year, month, day, sep = '-')

2020 8 27
2020/8/27
2020-8-27

In [66]:
# end를 이용한 출력
print(name, age, eyesight)
print(year, month, day)

김영일 27 1.0
2020 8 27

In [67]:
print(name, age, eyesight, end = '\n\n')
print(year, month, day)

김영일 27 1.0

2020 8 27

In [69]:
print(name, age, eyesight, end = '\t')
print(year, month, day, sep = '-')

김영일 27 1.0	2020-8-27

In [70]:
print(year, month, day, sep = '/', end = '\t')
print(year, month, day, sep = '-')

2020/8/27	2020-8-27

In [71]:
# sep과 end는 맨 뒤에, sep과 end의 순서는 바뀌어도 상관없다
print(year, month, day, end = '\t', sep = '/')
print(name, age, eyesight, sep = ', ')

2020/8/27	김영일, 27, 1.0

In [72]:
print(name, age, sep = ',', eyesight)

SyntaxError: positional argument follows keyword argument (<ipython-input-72-6055d1432b15>, line 1)

## 키보드 입력

In [74]:
name = input('이름 입력 : ')

이름 입력 : 김영일

In [75]:
print('%s님 반갑습니다.' % name)

김영일님 반갑습니다.

In [76]:
first = input('첫번째 숫자 : ')
second = input('두번째 숫자 : ')

첫번째 숫자 : 10
두번째 숫자 : 20

In [77]:
sum = first + second    # fitst와 second는 앞에서 문자열로 인식
print(sum)

1020

In [78]:
sum = int(first) + int(second)
print(sum)

30

In [1]:
inch = float(input('인치(inch)값 입력 : '))

인치(inch)값 입력 : 30

In [3]:
cm = inch * 2.54

print('Inch : %.2f ==> Centimeter : %.2f' % (inch, cm))

Inch : 30.00 ==> Centimeter : 76.20

## 주석문(Comment)

In [4]:
# 한줄짜리 주석문
cm = inch * 2.54    # Inch ==> Centimeter 변환

In [5]:
# 여러줄 주석문
'''
이 사이에는 여러 줄의 주석문이 올 수 있습니다.
프로그램명 : 두 수 더하기
'''

'\n이 사이에는 여러 줄의 주석문이 올 수 있습니다.\n프로그램명 : 두 수 더하기\n'

### 연습문제

In [6]:
# 삼각형의 면적 구하기
width = 10
height = 3
area = width * height / 2
print('삼각형의 밑변 길이 : ', width)
print('삼각형의 높이 : ', height)
print('삼각형의 면적 : ', area)

삼각형의 밑변 길이 :  10
삼각형의 높이 :  3
삼각형의 면적 :  15.0

In [17]:
# 거스름돈 계산하기
price = 800
buy = 3
pay = 5000
change = pay - price * buy
print('물건가격 : ',price,'원')
print('구매개수 : ',buy,'개')
print('지불금액 : ',pay,'원')
print('거스름돈 : ',change,'원')

물건가격 :  800 원
구매개수 :  3 개
지불금액 :  5000 원
거스름돈 :  2600 원

In [8]:
x = 20
y = 4

x = y % x
print(x)

y -= x * 2
print(x, y)

4
4 -4

In [15]:
# 문자열 추출과 문자열 포맷팅
name = '홍길동'
age = 30
height = 171.5

print('성 :',name[0])
print('이름 :',name[1:])
print('%s의 나이:%d세, 키:%.2fcm' % (name, age, height))

성 : 홍
이름 : 길동
홍길동의 나이:30세, 키:171.50cm

In [14]:
# 성적 평균 구하기
name = input('학생 이름 입력 : ')
kor = int(input('국어 성적 입력 : '))
eng = int(input('영어 성적 입력 : '))
math = int(input('수학 성적 입력 : '))

total = kor + eng + math
avg = total / 3

print('이름:%s, 국어:%d점, 영어:%d점, 수학:%d점, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름 입력 : 황예린
국어 성적 입력 : 83
영어 성적 입력 : 85
수학 성적 입력 : 91
이름:황예린, 국어:83점, 영어:85점, 수학:91점, 평균:86.3점