# Unit 11. 시퀀스 자료형 활용하기

### 1) 공통 기능

In [1]:
30 in [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

True

In [2]:
30 in (1, 2, 3)

False

In [3]:
# range(30)은 30을 포함하지 않는다
30 in range(30)

False

In [4]:
'a' in 'apple'

True

In [5]:
30 not in [1, 2, 3]

True

#### 1.1) 객체 연결하기

In [6]:
'Hello' + ' ' + 'Python'

'Hello Python'

In [7]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [8]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [9]:
range(10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [10]:
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
'hello ' + 10

TypeError: can only concatenate str (not "int") to str

In [19]:
'hello ' + str(10)

'hello 10'

#### 1.2) 반복하기

In [11]:
'hello' * 3

'hellohellohello'

In [12]:
'두근' * 2

'두근두근'

In [14]:
list((1, 2, 3)) * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
(4, 5, 6) * 2

(4, 5, 6, 4, 5, 6)

In [16]:
range(5) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [17]:
list(range(5)) * 3

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

### 2) 요소 개수 구하기

In [20]:
len('hello')

5

In [21]:
len([1, 2, 3, 4, 5, 6, 7])

7

In [22]:
len((10, 20, 30, 40))

4

In [23]:
len(range(17, 100))

83

In [24]:
len(range(1, 100, 2))

50

In [25]:
len('안녕하세요')

5

In [26]:
# 한 글자당 3byte를 잡아먹는다
len('안녕하세요'.encode('utf-8'))

15

### 3) 인덱싱

In [27]:
list_a = [11, 22, 33, 44, 55]
list_a[1]

22

In [28]:
tuple_a = (10, 20, 30, 40, 50)
tuple_a[4]

50

In [29]:
hello = 'Hello, world!'
hello[7]

'w'

In [30]:
# 뒤에서 3번째 요소 출력
hello[-3]

'l'

In [31]:
# 파이썬에서는 이렇게 쓰지 않아도 된다
hello[len(hello)-3]

'l'

In [32]:
tuple_a[-2]

40

In [33]:
list_a[-1]

55

In [34]:
# 인덱스의 범위를 벗어나면 IndexError 발생!!
tuple_a[5]

IndexError: tuple index out of range

#### 3.1) 값 할당

In [36]:
list_a[-1] = 66
list_a

[11, 22, 33, 44, 66]

In [37]:
# 튜플은 값을 할당할 수 없다
tuple_a[-1] = 66
tuple_a

TypeError: 'tuple' object does not support item assignment

#### ※ 시퀀스 자료형 중에서 튜플, range, 문자열은 읽기 전용이다

In [38]:
hello[-1] = '?'
hello

TypeError: 'str' object does not support item assignment

#### 3.2) 요소 삭제하기(del)

In [40]:
# 삭제하기 전 list_a = [11, 22, 33, 44, 66]
del list_a[-1]
list_a

[11, 22, 33, 44]

In [41]:
del tuple_a[-1]

TypeError: 'tuple' object doesn't support item deletion

In [42]:
del hello[-1]

TypeError: 'str' object doesn't support item deletion

### 4) 슬라이싱

In [43]:
# 시퀀스객체[시작인덱스 : 끝인덱스 : 인덱스증가폭]
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [46]:
a[:4]

[0, 10, 20, 30]

In [44]:
a[0:-1:2]

[0, 20, 40, 60, 80]

In [47]:
# 시작인덱스가 0이면 생략가능, 끝인덱스가 len(a)면 생략가능
a[::2]

[0, 20, 40, 60, 80]

In [45]:
a[::]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [48]:
a[4:7]

[40, 50, 60]

In [49]:
a[6:3:-1]

[60, 50, 40]

In [50]:
# 인덱스증가폭을 생략하면 1로 적용
a[6:3]

[]

In [51]:
a[1:len(a):2]

[10, 30, 50, 70, 90]

In [52]:
# 끝 인덱스를 출력하지 못함
a[1:-1:2]

[10, 30, 50, 70]

In [53]:
# len(a) == 11
a[1:11:2]

[10, 30, 50, 70, 90]

In [57]:
# hello = 'Hello, world'!
# NodeJS    hello.substring(2, 9)와 같다
hello[2:9]

'llo, wo'

#### 4.1) 슬라이스 요소에 값 할당하기

In [58]:
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [60]:
a[3:6] = ['30', '40', '50']
a

[0, 10, 20, '30', '40', '50', 60, 70, 80, 90]

In [64]:
a[-3:-1] = (79, )
a

[0, 10, 20, '30', '40', '50', 79, 90]

In [65]:
a[1:2] = [1, 2, 3]
a

[0, 1, 2, 3, 20, '30', '40', '50', 79, 90]

In [66]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:2] = ['a', 'b', 'c']
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

In [67]:
del a[2:8:2]
a

[0, 10, 30, 50, 70, 80, 90]

In [68]:
m = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]
m

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [69]:
# row인덱스: 1, col인덱스: 2 (인덱스는 0부터 시작)
# 즉, 2차원 List에서 1행 2열에 있는 요소를 가져와라
m[1][2]

7

### 심사 문제

#### (1)

In [72]:
# 입력 받은 숫자 또는 문자열 여러 개가 리스트 x에 저장
# 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력

x = input().split()
del x[-5:]
print(tuple(x))

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

#### (2)

In [73]:
# 표준 입력으로 문자열 두 개 입력 받은 후
# 첫 번째 문자열의 인덱스가 홀수인 문자와 
# 두 번째 문자열의 인덱스가 짝수인 문자 연결하여 출력

str_a = input()
str_b = input()
print(str_a[1::2] + str_b[::2])

python
python
yhnpto