# Unit 26. 세트 사용하기

### 세트 만들기

In [1]:
# 세트는 { }(중괄호) 안에 값을 저장하며 각 값은 ,(콤마)로 구분해줍니다
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [2]:
type(fruits)

set

In [3]:
# 세트는 요소의 순서가 정해져 있지 않는다!
# 출력할 때마다 요소의 순서가 매번 다르게 나온다
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

In [4]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [5]:
'orange' in fruits

True

In [6]:
'peach' in fruits

False

In [7]:
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [8]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [9]:
set('안녕하세요')

{'녕', '세', '안', '요', '하'}

### 집합 연산

In [10]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [11]:
set.union(a, b)

{1, 2, 3, 4, 5, 6}

In [12]:
a & b

{3, 4}

In [13]:
set.intersection(a, b)

{3, 4}

In [14]:
a - b

{1, 2}

In [15]:
set.difference(a, b)

{1, 2}

In [16]:
a ^ b

{1, 2, 5, 6}

In [17]:
set.symmetric_difference(a, b)

{1, 2, 5, 6}

In [18]:
# a = {1, 2, 3, 4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [19]:
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [20]:
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [21]:
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [22]:
a -= {3}
a

{1, 2, 4}

In [23]:
a.difference_update({4})
a

{1, 2}

In [24]:
# A <= B / A.issubset(B) : A가 B의 부분집합인지?
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [25]:
a.issubset({1, 2, 3, 4, 5})

True

In [26]:
# A >= B / A.issuperset(B) : A가 B의 진부분집합인지?
a = {1, 2, 3, 4}
a >= {1, 2, 3, 4}

True

In [27]:
a.issuperset({1, 2, 3, 4})

True

In [28]:
# 세트가 겹치는지 아닌지, 겹치는 요소가 없으면 True, 있으면 False
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8})

True

In [29]:
# 세트에 요소 추가하기
# a |= {5} 와 a.update({5})와 같은 결과
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [30]:
# 없는 요소를 삭제하려고 하면 에러 발생!!
a.remove(3)
a

{1, 2, 4, 5}

In [31]:
# discard는 특정 요소를 삭제하고 없으면 에러발생시키지 않고 그냥 넘어간다
a.discard(2)
a

{1, 4, 5}

In [32]:
a.discard(3)
a

{1, 4, 5}

In [33]:
# 세트에서 임의의 요소 삭제
a = {1, 2, 3, 4}
a.pop()

1

In [34]:
a

{2, 3, 4}

In [35]:
a.clear()
a

set()

### 세트의 할당과 복사

In [36]:
a = {1, 2, 3, 4}
b = a
b.add(5)
print(f'세트 a = {a}\n세트 b = {b}')

세트 a = {1, 2, 3, 4, 5}
세트 b = {1, 2, 3, 4, 5}

In [37]:
# 세트는 중첩이 안되기 때문에 deepcopy같은 메서드는 필요없다
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
print(f'세트 a = {a}\n세트 b = {b}')

세트 a = {1, 2, 3, 4}
세트 b = {1, 2, 3, 4, 5}

### 세트와 반복문

In [38]:
a = {1, 2, 3, 4}
for i in a:
    print(i)

1
2
3
4

In [39]:
a = {2, 3, 1, 4}
for i in a:
    print(i)

1
2
3
4

### 세트 표현식

In [40]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [41]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

### 심사 문제

In [42]:
# 표준입력으로 양의 정수 두 개 입력
# 두 숫자의 공약수를 세트 형태로 구하고 최종 결과는 공약수의 합을 출력

x, y = map(int, input().split())
a = {i for i in range(1, x+1) if x % i == 0}
b = {i for i in range(1, y+1) if x % i == 0}

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

100 200
217