# Unit 10. 리스트와 튜플 사용하기

### List

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [3]:
# 빈 리스트를 만들 때
empty_list = []
el = list()

In [4]:
# range(초기값, 종료값, 증가분)
range(9)

range(0, 9)

In [5]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b = list(range(1, 10))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
c = list(range(1, 10, 2))
c

[1, 3, 5, 7, 9]

In [8]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Tuple

In [9]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [10]:
b = 23, 5, 32
b

(23, 5, 32)

In [11]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [12]:
# 한 개의 element를 갖는 튜플
# 이렇게 하면 튜플이 아님
(38)

38

In [13]:
(38,)

(38,)

In [14]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
b = tuple(range(1, 10))
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [16]:
c = tuple(range(1, 10 ,2))
c

(1, 3, 5, 7, 9)

In [17]:
d = tuple(range(10, 0, -1))
d

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

### List <---> Tuple

In [18]:
tuple_a = tuple([1, 2, 3])
tuple_a

(1, 2, 3)

In [19]:
list_a = list((1, 2, 3))
list_a

[1, 2, 3]

In [20]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [21]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [22]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [23]:
d, e, f = (4, 5, 6)
print(d, e, f)

4 5 6

In [24]:
x, y, z = 7, 8, 9
print(x, y, z)

7 8 9

### Swappning

In [25]:
x = 10
y = 20
x, y = y, x
print(x, y)

20 10

### 입력과 연계

In [26]:
x = input()

3

In [27]:
y = int(x)
print(x, y, type(x), type(y))

3 3 <class 'str'> <class 'int'>

In [28]:
x = input().split()

3 5 7 9

In [29]:
x

['3', '5', '7', '9']

In [30]:
a, b, c = map(int, ['10', '20', '30'])
print(a, b, c)

10 20 30

In [31]:
a, b, c = map(int, input('숫자 3개 입력(띄어쓰기로 숫자 구분)> ').split())

숫자 3개 입력(띄어쓰기로 숫자 구분)> 10 20 30

In [32]:
print(a, b, c, a+b+c)

10 20 30 60

In [33]:
[int(i) for i in input('숫자 3개 입력(띄어쓰기로 숫자 구분)> ').split()]

숫자 3개 입력(띄어쓰기로 숫자 구분)> 11 22 33

[11, 22, 33]

### 심사 문제

In [34]:
# 시작 숫자: -10, 끝 숫자: 10, 입력된 정수만큼 증가하는 숫자가 출력되는 튜플 출력

x = int(input())
tup = tuple(range(-10, 10, x))
print(tup)

3
(-10, -7, -4, -1, 2, 5, 8)