# Unit 22. 리스트와 튜플 응용하기

### 리스트 조작하기

In [1]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
# 리스트를 추가할 수도 있다
a.append([3, 4])
a

[10, 20, 30, 500, [3, 4]]

In [3]:
# 3 x 6 list에 1 ~ 6 랜덤값 채우기
# 2차원 리스트를 만드는 가장 흔한 방법
# 무조건 외우자 !!!!!

import random as rd

y = []
for i in range(3):
    x = []
    for k in range(6):
        x.append(rd.randint(1, 6))
    y.append(x)
print(y)

[[3, 2, 6, 2, 6, 2], [3, 4, 6, 4, 3, 2], [6, 5, 2, 4, 4, 4]]

In [4]:
# 2차원 list의 element만 뽑아내서 출력해주는 함수

def print_matrix(mat):
    for row in mat:                     # len(mat) : mat의 행의 개수
        for element in row:             # len(row) : mat의 열의 개수
            print(element, end=' ')
        print()

In [5]:
print_matrix(y)

3 2 6 2 6 2
3 4 6 4 3 2
6 5 2 4 4 4

In [6]:
# Old-fashoined

def old_print_matrix(mat):
    for i in range(len(mat)):
        for k in range(len(mat[0])):
            print(mat[i][k], end=' ')
        print()

In [7]:
old_print_matrix(y)

3 2 6 2 6 2
3 4 6 4 3 2
6 5 2 4 4 4

In [8]:
# append와 extend의 차이
a = [10, 20, 30]
b = [10, 20, 30]

a.append([400, 500])
b.extend([400, 500])

print(a, b)

[10, 20, 30, [400, 500]] [10, 20, 30, 400, 500]

In [9]:
# insert(인덱스, 추가할요소) : 해당 인덱스에 요소를 추가
a = [10, 20, 30]
a.insert(2, 400)
a

[10, 20, 400, 30]

In [10]:
# pop([인덱스]) : 가장 뒤에 있는 요소 삭제 or 해당 인덱스 요소 삭제
a.pop()
a

[10, 20, 400]

In [11]:
# remove(값) : 리스트에서 특정 값을 찾아 삭제
# 같은 값이 여러 개 있을 경우 처음 찾은 값만 삭제
a = [10, 20, 30, 20]
a.remove(20)
a

[10, 30, 20]

In [12]:
# index(값) : 해당 값의 인덱스를 출력, 같은 값이 여러개면 처음 찾은 인덱스 출력
a = [10, 20, 30, 15, 20, 40]
a.index(20)

1

In [13]:
# count(값) : 특정 값의 개수 구하기
a.count(20)

2

In [14]:
# reverse() : 리스트 순서 뒤집기
# 주의!!  리스트 자체가 바뀐다
a.reverse()
a

[40, 20, 15, 30, 20, 10]

In [15]:
# sort() : 리스트 요소 정렬(기본은 오름차순)
# sort(reverse=True) : 내림차순 정렬
# 주의!!  리스트 자체가 바뀐다
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [16]:
a.sort(reverse=True)
a

[40, 30, 20, 20, 15, 10]

##### sort는 메서드를 사용해 리스트 자체를 변경
##### sorted 함수는 정렬된 새 리스트를 생성하고 원래 리스트엔 영향을 미치지않음

In [17]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [18]:
b = [10, 20, 30, 15, 20, 40]
c = sorted(b)
c

[10, 15, 20, 20, 30, 40]

In [19]:
b

[10, 20, 30, 15, 20, 40]

In [20]:
a = [10, 20, 30]
a[3] = [40]
a

IndexError: list assignment index out of range

In [21]:
a[3:] = [40]
a

[10, 20, 30, 40]

In [22]:
a[4:] = [50, 60]
a

[10, 20, 30, 40, 50, 60]

### 리스트 할당과 복사

In [23]:
# 리스트가 두개가 된 것이 아니고 a와 b가 한 개의 리스트를 가리키고 있는 것
a = [0, 0, 0, 0, 0]
b = a

In [24]:
b

[0, 0, 0, 0, 0]

In [25]:
b[2] = 2
b

[0, 0, 2, 0, 0]

In [26]:
a

[0, 0, 2, 0, 0]

In [27]:
a is b

True

In [28]:
# copy() : 객체를 두 개로 만들어준다
a = [0, 0, 0, 0, 0]
b = a.copy()
b[2] = 2
print(a, b)

[0, 0, 0, 0, 0] [0, 0, 2, 0, 0]

In [29]:
a is b

False

### 반복문으로 요소 출력하기

In [30]:
a = [10, 20, 30, 40]
for index, value in enumerate(a):
    print(index, value, sep='  ')

0  10
1  20
2  30
3  40

### 유용한 함수

In [31]:
# 가장 작은/큰 수는?
a = [10, 20, 30, 40, 5]
small = a[0]
large = a[0]
for i in range(1, len(a)):
    if a[i] < small:
        small = a[i]
    if a[i] > large:
        large = a[i]
print(small, large)

5 40

In [32]:
a

[10, 20, 30, 40, 5]

In [33]:
a.sort()
print('min:', a[0], '/ max:', a[-1])

min: 5 / max: 40

In [34]:
a = [38, 21, 53, 62, 19]
print(min(a), max(a))

19 62

In [35]:
sum(a)

193

### 리스트 표현식(List Comprehension)

In [36]:
# 1에서 10까지 제곱수를 리스트로 만드시오
a = [i*i for i in range(1, 11)]
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
sq = []
for i in range(1, 11):
    sq.append(i*i)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
# 홀수
sq_odd = [i*i for i in range(1, 11) if i % 2 == 1]
sq_odd

[1, 9, 25, 49, 81]

In [40]:
a = [i * k for i in range(2, 10)
            for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### map 함수

In [41]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [42]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [43]:
x = list(map(int, input('여러개의 정수> ').split()))
x

여러개의 정수> 10 20 30 40 50

[10, 20, 30, 40, 50]

In [45]:
hour, minute, second = map(int, input('hh:mm:ss> ').split(':'))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss> 11:41:45
hour=11, minute=41, second=45

In [49]:
year, month, day = map(int, input('yy:mm:dd> ').split('-'))
print(f'year=20{year}년, {month=}월, {day=}일')

yy:mm:dd> 20-10-30
year=2020년, month=10월, day=30일

### 튜플

In [50]:
a = (38, 21, 53, 62, 19, 53)
print(a.index(53), a[2])

2 53

In [51]:
a.count(21)

1

In [52]:
print(min(a), max(a), sum(a))

19 62 246

### 심사 문제

In [54]:
# 표준 입력으로 정수 두 개 입력받은 후
# 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트 출력
# 단, 리스트의 두 번째와 뒤에서 두 번째 요소는 삭제한 뒤 출력

a, b = map(int, input().split())
sq = [2 ** i for i in range(a, b+1)]
sq.pop(1)
sq.pop(len(sq)-2)
print(sq)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]